.result-message {
  max-width: 100%;
  overflow-wrap: break-word;
}

.check {
  color: $app-green;
}

.cross {
  color: $app-red;
}

.busi-item {
  border-radius: 20px;
  border: 1px solid $app-green;
  margin: 40px auto;
  padding: 10px;
  transition: $primary-transition;

  &:hover {
    box-shadow: 0 0 20px rgba($app-green, .24), 0 0 20px rgba($app-green, .16);
  }
}

.busi-img {
  float: left;
  padding: 10px;

  img {
    transition: $primary-transition;
    border-radius: 5px;
    max-width: 100%;
    display: block;
  }

  img:hover {
    opacity: .7;
    cursor: pointer;
  }
}

.busi-info,
.busi-snippet,
.busi-contact,
.busi-action {
  padding: 10px;
}

.busi-info {
  display: inline-block;
  border-bottom: 1px solid $app-purple;

  a {
    color: $app-purple;
  }

  a:hover {
    color: $app-orange;
  }

  * {
    display: inline-block;
  }

  .busi-name {
    margin-right: 1em;
  }

  .busi-count {
    margin-left: 1em;
  }
}

.busi-snippet {
  color: $app-yellow;
}

.busi-contact {
  color: $app-brown;
}

.busi-action {
  float: right;
}

.has-joined-info {
  color: $app-orange;
}

.page-loading {
  text-align: center;
}

/* animations */
.busi-item-animate {
  &.ng-enter {
    transition: $primary-transition;
    opacity: 0;
    width: 0;
    overflow: hidden;

    &.ng-enter-active {
      opacity: 1;
      width: 100%;
    }
  }

  &.ng-leave {
    transition: $primary-transition;
    opacity: 1;
    width: 100%;
    overflow: hidden;

    &.ng-leave-active {
      opacity: 0;
      width: 0;
    }
  }
}

.animate-view-container {
  position: relative;
}

.animate-view-frame {
  &.ng-enter,
  &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }

  &.ng-enter {
    animation: .5s fade-in;
    z-index: 100;
  }

  &.ng-leave {
    animation: .5s fade-out;
    z-index: 99;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

