<section>
  <section class="feature-item" data-ng-repeat="caption in [
    'List the most awesome business',
    'Focus on your surroundings',
    'Peek at tonight\'s trend',
    'Share your choice at ease',
    'Login with Facebook/Twitter',
    'All these, and more'
  ]">
    <div class="container row">
      <h2 class="caption">{{caption}}</h2>
    </div>
  </section>

  <section class="feature-list-bottom">
    <button class="try-button" type="button" data-ng-click="vm.tryNow()">Try it now!</button>
  </section>
</section>
