<section>
  <section class="feature-item" data-ng-repeat="item in [{
      'caption': 'Focus on your surroundings',
      'img': '/images/screenshot-focus.jpg'
    }, {
      'caption': 'Peek at tonight\'s trend',
      'img': '/images/screenshot-peek.jpg'
    }, {
      'caption': 'Share your choice at ease',
      'img': '/images/screenshot-join.jpg'
    }, {
      'caption': 'List the most awesome business',
      'img': '/images/screenshot-list.jpg'
    }, {
      'caption': 'Login with Facebook and Twitter',
      'img': '/images/screenshot-login.jpg'
    }]">
    <div class="container row group">
      <img ng-src="{{item.img}}">
      <h2 class="caption">{{item.caption}}</h2>
    </div>
  </section>

  <section class="feature-list-bottom">
    <button class="try-button" type="button" data-ng-click="vm.tryNow()">Try it now!</button>
  </section>
</section>
