/* basic colors */
/* Adapted from: https://github.com/chriskempson/base16-vim */
$app-black : #181818;
$app-blue  : #7cafc2;
$app-brown : #a16946;
$app-cyan  : #86c1b9;
$app-green : #a1b56c;
$app-orange: #dc9656;
$app-purple: #ba8baf;
$app-red   : #ab4642;
$app-white : #d8d8d8;
$app-yellow: #f7ca88;

$facebook-color: #4867aa;
$twitter-color: #1da1f2;

/* primary variables */
$primary-color: $app-white;
$primary-background-color: $app-black;

$primary-font-size: 16px;
$primary-line-height: 1.5;

$primary-font-family: "Roboto", Helvetica, Arial, sans-serif;
$primary-transition: all .2s ease-out;

/* other variables */
$caption-font-family: "Sansita", Helvetica, Arial, sans-serif;
$max-width: 1000px;
$mobile-break-point: 769px;


@import "app.reset";
@import "app.base";
@import "app.layout";
@import "feature-list/feature-list";
@import "search-box/search-box";
@import "business-list/business-list";
@import "core/error-displayer/error-displayer";
